/*@import '~style/helpers';

.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.container button {
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  display: block;
  background: #284608;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 300;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.container button:hover {
  background: #fff;
  color: #284608;
  border: 1px solid transparent;
}*/

@import '~style/helpers';

.container button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #284608;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.container button:hover {background-color: #3e8e41}

.container button:active {
  background-color: #284608;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}