@import '~style/helpers';

.button2_container {
        padding-top: 400px;
        position:center;
}

.button2_container button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #003300;
  border: 1px solid green;
  border-radius: 15px;
  box-shadow: 0 9px 0px rgba(0, 180, 0, 0.5);
}

.button2_container button:hover {
  background-color: #004d00
}

.button2_container button:active {
  background-color: #004d00;
  box-shadow: 0 5px 0px rgba(0, 180, 0, 0.5);
  transform: translateY(4px);
}

a{
  text-align: center;
  text-decoration: none;
}

