@import '~style/helpers';

.button2_container {
	position:center;
        padding-top: 325px;      
}

.button2_container button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #ba8627;
  border: 1px ;
  border-radius: 15px;
  box-shadow: 0 9px 0px rgba(146, 155, 163, 0.8);
  margin-bottom: 20px;
}

.button2_container button:hover {
  background-color: #eae8e3
}

.button2_container button:active {
  background-color: #eae8e3;
  box-shadow: 0 5px 0px rgba(0, 180, 0, 0.5);
  transform: translateY(4px);
}

a{
  text-align: center;
  text-decoration: none;
}

