@import '~style/helpers';

.container { 
	display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/clear-iphone.gif');
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 50px;
	margin: 0 auto;
}
.header {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.city {
	flex: 1;
	font-size: 1.7em;
	font-weight: 400;	
}
.row {
	display: flex;
	flex-direction: row;
	height: 300px;
}

.box{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 5px;
}
.details {
	flex: 4;
}

.conditions {
	font-size: 0.8em;
}
.temperature {
	font-size: 1.2em;
	font-weight: 300;
}

.time {   
}

.filled:after {
	margin: 0 0 0 1rem;
	font-size: 0.5em;
	padding-top: 10px;
	vertical-align: center center;
}
.input{
	height: 40px;
	text-align: center;
	margin:10px;
	color: #6DA4CC;
	font-size: 18px;
}