@import '~style/helpers';

.container { 
	display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/source6_2.gif');
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 20px;
	margin: 0 auto;
}
.header {
	display: flex;
	padding-top: 50px;
	flex-direction: column;
	flex: 1;
}
.city {
	flex: 1;
	font-size: 1.7em;
	font-weight: 400;	
}
.row {
	display: flex;
	flex-direction: row;
	height: 200px;
}
.boxUp{
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 200px;
	font-size: 1.5em;
	margin:auto;
}
.boximg {
	width: 200px;
	height: 200px;
}
.locate {
	flex: 1;
	padding: 0 20px;
}
.box{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 5px;
	margin-top: 100px;
}
.details {
	flex: 4;
}

.conditions {
	font-size: 0.6em;
}
.conditionsmain {
	font-size: 1.5em;
}
.temperature {
	font-size: 1.2em;
	font-weight: 300;
}

.filled:after {
	margin: 0 0 0 1rem;
	font-size: 0.5em;
	padding-top: 10px;
	vertical-align: center center;
}
.input{
	height: 40px;
	text-align: center;
	margin:10px;
	color: #6DA4CC;
	font-size: 18px;
}
